/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
contribution.iml
/figwheel_server.log
/resources/public/js/compiled/
/test-fig-out/
/test-fig-compiled/
/test-compiled/
